/* base page style */
body {
  font-family: arial, sans-serif;
  font-size: 13px;
  background-color: #FFFFFF;
}

/* top nav bar style */
ul.topBar {
  list-style-type: none;
  margin: 0;
  padding: 15;
  position: relative;
  overflow: hidden;
  top: 11px;
  right: 11px;
}

ul.topBar li {
  display: inline;
  float: right;
}

a {
  display: block;
  text-decoration-line: none;
  color: black;
  opacity: 0.7;
  padding: 8px;
  text-align: center;
}

a:hover {
  opacity: 1;
  text-decoration-line: underline;
}

.Apps {
  height: 16px;
  width: 16px;
  opacity: .7;
}

.Apps:hover {
  opacity: 1;
}

.SignIn {
  color: white;
  background-color: #3399ff;
  padding: 8px 16px;
  border-radius: 4px;
  opacity: 0.8;
}

/* content style */
.GoogleLogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
}

.searchBar {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

input[type=text] {
  width: 422px;
  height: 30px;
  padding: 5px;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  box-shadow: 1px 1px 3px #cccccc;
}

input[type=text]:focus, textarea:focus {
  border: 2px solid #cccccc;
  box-shadow: 2px 2px 4px ##b3b3b3;
}

.searchButtons {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
}

input[type=submit]{
  width: 150px;
  height: 26px;
  border: none;
  background-color:#f2f2f2;
  opacity: 0.8;
}

input[type=submit]:hover{
  opacity: 1;
  border: 1px black solid;
}

.add4g {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  opacity: 0.7;
}

/* bottom bar style */

ul.bottomBar1 {
  list-style-type: none;
  position: fixed;
  overflow: hidden;
  bottom: 10px;
  left: 0px;
}

ul.bottomBar2 {
  list-style-type: none;
  position: fixed;
  overflow: hidden;
  bottom: 10px;
  right: 15px;
}

ul.bottomBar1 li {
  display: inline-block;
  float: left;
  margin: 20;
  padding: 40;

}

ul.bottomBar2 li {
  display: inline-block;
  float: right;
  margin: 20;
  padding: 40;
}
